<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs') %>
<body>
	<%- include('partials/navbar.ejs') %>

	<div id="mapid"></div>
	<%- include ("../public/script/initMap", {mapData:apiData}); %>
	<!-- <%- include('partials/footer.ejs') %> -->
</body>
</html>


