/* 
CSUMB colors 
Blue: #112E51
Sand: #F4F2EF

Ref: https://csumb.edu/communications/color-palette/
*/

/*
CSS Selectors
# for id
. for class
*/
#mapid {   
    height: 85%; 
    width: 100vw;
}

.navbar{
    background-color: #205493;
}

.card {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}